In [92]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [93]:
df = pd.read_csv('EURUSD_D1 (1).csv')

In [94]:
df.head()

   2008-04-04 00:00  1.56647  1.57726  1.56465  1.57352  749819
0  2008-04-06 00:00  1.57302  1.57375  1.57071  1.57300   77929
1  2008-04-07 00:00  1.57300  1.57308  1.56247  1.57058  864262
2  2008-04-08 00:00  1.57074  1.57983  1.56718  1.56945  865844
3  2008-04-09 00:00  1.56940  1.58645  1.56835  1.58162  864934
4  2008-04-10 00:00  1.58155  1.59143  1.57221  1.57563  868884

In [95]:
line = df.columns
line

Index(['2008-04-04 00:00', '1.56647', '1.57726', '1.56465', '1.57352',
       '749819'],
      dtype='object')

In [96]:
# Add column names to the DataFrame
df.columns = ['Time', 'Open', 'High', 'Low', 'Close', 'Volume']

In [97]:
df

                  Time     Open     High      Low    Close  Volume
0     2008-04-06 00:00  1.57302  1.57375  1.57071  1.57300   77929
1     2008-04-07 00:00  1.57300  1.57308  1.56247  1.57058  864262
2     2008-04-08 00:00  1.57074  1.57983  1.56718  1.56945  865844
3     2008-04-09 00:00  1.56940  1.58645  1.56835  1.58162  864934
4     2008-04-10 00:00  1.58155  1.59143  1.57221  1.57563  868884
...                ...      ...      ...      ...      ...     ...
5007  2024-04-08 00:00  1.08297  1.08634  1.08208  1.08620  173627
5008  2024-04-09 00:00  1.08620  1.08850  1.08477  1.08588  165777
5009  2024-04-10 00:00  1.08587  1.08665  1.07288  1.07410  264829
5010  2024-04-11 00:00  1.07411  1.07564  1.06992  1.07260  235847
5011  2024-04-12 00:00  1.07260  1.07281  1.06226  1.06385  200785

[5012 rows x 6 columns]

In [98]:
new_line = pd.DataFrame({'Time': [line[0]], 'Open': [line[1]], 'High': [
                        line[2]], 'Low': [line[3]], 'Close': [line[4]], 'Volume': [line[5]]})


df = pd.concat([new_line, df]).reset_index(drop=True)

In [99]:
df

                  Time     Open     High      Low    Close  Volume
0     2008-04-04 00:00  1.56647  1.57726  1.56465  1.57352  749819
1     2008-04-06 00:00  1.57302  1.57375  1.57071    1.573   77929
2     2008-04-07 00:00    1.573  1.57308  1.56247  1.57058  864262
3     2008-04-08 00:00  1.57074  1.57983  1.56718  1.56945  865844
4     2008-04-09 00:00   1.5694  1.58645  1.56835  1.58162  864934
...                ...      ...      ...      ...      ...     ...
5008  2024-04-08 00:00  1.08297  1.08634  1.08208   1.0862  173627
5009  2024-04-09 00:00   1.0862   1.0885  1.08477  1.08588  165777
5010  2024-04-10 00:00  1.08587  1.08665  1.07288   1.0741  264829
5011  2024-04-11 00:00  1.07411  1.07564  1.06992   1.0726  235847
5012  2024-04-12 00:00   1.0726  1.07281  1.06226  1.06385  200785

[5013 rows x 6 columns]

In [100]:
df['Date'] = pd.to_datetime(df['Time'], format='%Y-%m-%d ')
df

                  Time     Open     High      Low    Close  Volume       Date
0     2008-04-04 00:00  1.56647  1.57726  1.56465  1.57352  749819 2008-04-04
1     2008-04-06 00:00  1.57302  1.57375  1.57071    1.573   77929 2008-04-06
2     2008-04-07 00:00    1.573  1.57308  1.56247  1.57058  864262 2008-04-07
3     2008-04-08 00:00  1.57074  1.57983  1.56718  1.56945  865844 2008-04-08
4     2008-04-09 00:00   1.5694  1.58645  1.56835  1.58162  864934 2008-04-09
...                ...      ...      ...      ...      ...     ...        ...
5008  2024-04-08 00:00  1.08297  1.08634  1.08208   1.0862  173627 2024-04-08
5009  2024-04-09 00:00   1.0862   1.0885  1.08477  1.08588  165777 2024-04-09
5010  2024-04-10 00:00  1.08587  1.08665  1.07288   1.0741  264829 2024-04-10
5011  2024-04-11 00:00  1.07411  1.07564  1.06992   1.0726  235847 2024-04-11
5012  2024-04-12 00:00   1.0726  1.07281  1.06226  1.06385  200785 2024-04-12

[5013 rows x 7 columns]

In [101]:
df['Day'] = df['Date'].dt.day_name()
df['Month'] = df['Date'].dt.month_name()
df['Quarter'] = df['Date'].dt.quarter
df['Year'] = df['Date'].dt.year
df

,Time,Open,High,Low,Close,Volume,Date,Day,Month,Quarter,Year
0,2008-04-04 00:00,1.56647,1.57726,1.56465,1.57352,749819,2008-04-04,Friday,April,2,2008
1,2008-04-06 00:00,1.57302,1.57375,1.57071,1.573,77929,2008-04-06,Sunday,April,2,2008
2,2008-04-07 00:00,1.573,1.57308,1.56247,1.57058,864262,2008-04-07,Monday,April,2,2008
3,2008-04-08 00:00,1.57074,1.57983,1.56718,1.56945,865844,2008-04-08,Tuesday,April,2,2008
4,2008-04-09 00:00,1.5694,1.58645,1.56835,1.58162,864934,2008-04-09,Wednesday,April,2,2008
...,...,...,...,...,...,...,...,...,...,...,...
5008,2024-04-08 00:00,1.08297,1.08634,1.08208,1.0862,173627,2024-04-08,Monday,April,2,2024
5009,2024-04-09 00:00,1.0862,1.0885,1.08477,1.08588,165777,2024-04-09,Tuesday,April,2,2024
5010,2024-04-10 00:00,1.08587,1.08665,1.07288,1.0741,264829,2024-04-10,Wednesday,April,2,2024
5011,2024-04-11 00:00,1.07411,1.07564,1.06992,1.0726,235847,2024-04-11,Thursday,April,2,2024
5012,2024-04-12 00:00,1.0726,1.07281,1.06226,1.06385,200785,2024-04-12,Friday,April,2,2024

In [102]:
df.dtypes

Time               object
Open               object
High               object
Low                object
Close              object
Volume             object
Date       datetime64[ns]
Day                object
Month              object
Quarter             int64
Year                int64
dtype: object

In [103]:
df['Tomorrow'] = df['Close'].shift(-1)
df

,Time,Open,High,Low,Close,Volume,Date,Day,Month,Quarter,Year,Tomorrow
0,2008-04-04 00:00,1.56647,1.57726,1.56465,1.57352,749819,2008-04-04,Friday,April,2,2008,1.573
1,2008-04-06 00:00,1.57302,1.57375,1.57071,1.573,77929,2008-04-06,Sunday,April,2,2008,1.57058
2,2008-04-07 00:00,1.573,1.57308,1.56247,1.57058,864262,2008-04-07,Monday,April,2,2008,1.56945
3,2008-04-08 00:00,1.57074,1.57983,1.56718,1.56945,865844,2008-04-08,Tuesday,April,2,2008,1.58162
4,2008-04-09 00:00,1.5694,1.58645,1.56835,1.58162,864934,2008-04-09,Wednesday,April,2,2008,1.57563
...,...,...,...,...,...,...,...,...,...,...,...,...
5008,2024-04-08 00:00,1.08297,1.08634,1.08208,1.0862,173627,2024-04-08,Monday,April,2,2024,1.08588
5009,2024-04-09 00:00,1.0862,1.0885,1.08477,1.08588,165777,2024-04-09,Tuesday,April,2,2024,1.0741
5010,2024-04-10 00:00,1.08587,1.08665,1.07288,1.0741,264829,2024-04-10,Wednesday,April,2,2024,1.0726
5011,2024-04-11 00:00,1.07411,1.07564,1.06992,1.0726,235847,2024-04-11,Thursday,April,2,2024,1.06385
5012,2024-04-12 00:00,1.0726,1.07281,1.06226,1.06385,200785,2024-04-12,Friday,April,2,2024,None

In [104]:
cols = df[['Open', 'High', 'Low', 'Close', 'Volume', 'Tomorrow']]
cols

         Open     High      Low    Close  Volume Tomorrow
0     1.56647  1.57726  1.56465  1.57352  749819    1.573
1     1.57302  1.57375  1.57071    1.573   77929  1.57058
2       1.573  1.57308  1.56247  1.57058  864262  1.56945
3     1.57074  1.57983  1.56718  1.56945  865844  1.58162
4      1.5694  1.58645  1.56835  1.58162  864934  1.57563
...       ...      ...      ...      ...     ...      ...
5008  1.08297  1.08634  1.08208   1.0862  173627  1.08588
5009   1.0862   1.0885  1.08477  1.08588  165777   1.0741
5010  1.08587  1.08665  1.07288   1.0741  264829   1.0726
5011  1.07411  1.07564  1.06992   1.0726  235847  1.06385
5012   1.0726  1.07281  1.06226  1.06385  200785     None

[5013 rows x 6 columns]

In [105]:
# convert the columns to numeric
for col in cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df.dtypes

Time                object
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
Date        datetime64[ns]
Day                 object
Month               object
Quarter              int64
Year                 int64
Tomorrow           float64
dtype: object

In [106]:
df['Target'] = (df['Tomorrow'] > df['Close']).astype(int)

In [107]:
df['Moving Average'] = df['Close'].rolling(window=20).mean()
df['MACD'] = df['Close'].ewm(span=12, adjust=False).mean(
) - df['Close'].ewm(span=26, adjust=False).mean()
df['Signal Line'] = df['MACD'].ewm(span=9, adjust=False).mean()
df['RSI'] = 100 - (100 / (1 + (df['Close'].diff().fillna(0).rolling(
    window=14).apply(lambda x: x[x > 0].mean() / -x[x < 0].mean()))))

df

,Time,Open,High,Low,Close,Volume,Date,Day,Month,Quarter,Year,Tomorrow,Target,Moving Average,MACD,Signal Line,RSI
0,2008-04-04 00:00,1.56647,1.57726,1.56465,1.57352,749819,2008-04-04,Friday,April,2,2008,1.57300,0,NaN,0.000000,0.000000,NaN
1,2008-04-06 00:00,1.57302,1.57375,1.57071,1.57300,77929,2008-04-06,Sunday,April,2,2008,1.57058,0,NaN,-0.000041,-0.000008,NaN
2,2008-04-07 00:00,1.57300,1.57308,1.56247,1.57058,864262,2008-04-07,Monday,April,2,2008,1.56945,0,NaN,-0.000267,-0.000060,NaN
3,2008-04-08 00:00,1.57074,1.57983,1.56718,1.56945,865844,2008-04-08,Tuesday,April,2,2008,1.58162,1,NaN,-0.000530,-0.000154,NaN
4,2008-04-09 00:00,1.56940,1.58645,1.56835,1.58162,864934,2008-04-09,Wednesday,April,2,2008,1.57563,0,NaN,0.000240,-0.000075,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5008,2024-04-08 00:00,1.08297,1.08634,1.08208,1.08620,173627,2024-04-08,Monday,April,2,2024,1.08588,0,1.082966,-0.000790,-0.001262,66.646689
5009,2024-04-09 00:00,1.08620,1.08850,1.08477,1.08588,165777,2024-04-09,Tuesday,April,2,2024,1.07410,0,1.082842,-0.000474,-0.001104,72.320263
5010,2024-04-10 00:00,1.08587,1.08665,1.07288,1.07410,264829,2024-04-10,Wednesday,April,2,2024,1.07260,0,1.082181,-0.001160,-0.001115,59.462525
5011,2024-04-11 00:00,1.07411,1.07564,1.06992,1.07260,235847,2024-04-11,Thursday,April,2,2024,1.06385,0,1.081503,-0.001804,-0.001253,58.392597
5012,2024-04-12 00:00,1.07260,1.07281,1.06226,1.06385,200785,2024-04-12,Friday,April,2,2024,NaN,0,1.080009,-0.002986,-0.001600,52.354613

In [108]:
df = df.dropna().reset_index(drop=True)
df

,Time,Open,High,Low,Close,Volume,Date,Day,Month,Quarter,Year,Tomorrow,Target,Moving Average,MACD,Signal Line,RSI
0,2008-04-27 00:00,1.56242,1.56291,1.55892,1.56165,33502,2008-04-27,Sunday,April,2,2008,1.56540,1,1.578530,-0.000650,0.001874,58.261837
1,2008-04-28 00:00,1.56168,1.56924,1.55904,1.56540,866601,2008-04-28,Monday,April,2,2008,1.55752,0,1.578124,-0.001499,0.001199,57.476884
2,2008-04-29 00:00,1.56534,1.56587,1.55384,1.55752,868216,2008-04-29,Tuesday,April,2,2008,1.56241,1,1.577350,-0.002775,0.000405,58.280824
3,2008-04-30 00:00,1.55772,1.56415,1.55161,1.56241,866004,2008-04-30,Wednesday,April,2,2008,1.54764,0,1.576941,-0.003353,-0.000347,54.590675
4,2008-05-01 00:00,1.56238,1.56425,1.54273,1.54764,862988,2008-05-01,Thursday,May,2,2008,1.54218,0,1.575851,-0.004946,-0.001267,50.478075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4988,2024-04-07 00:00,1.08347,1.08379,1.08272,1.08297,6614,2024-04-07,Sunday,April,2,2024,1.08620,1,1.083090,-0.001216,-0.001380,59.236604
4989,2024-04-08 00:00,1.08297,1.08634,1.08208,1.08620,173627,2024-04-08,Monday,April,2,2024,1.08588,0,1.082966,-0.000790,-0.001262,66.646689
4990,2024-04-09 00:00,1.08620,1.08850,1.08477,1.08588,165777,2024-04-09,Tuesday,April,2,2024,1.07410,0,1.082842,-0.000474,-0.001104,72.320263
4991,2024-04-10 00:00,1.08587,1.08665,1.07288,1.07410,264829,2024-04-10,Wednesday,April,2,2024,1.07260,0,1.082181,-0.001160,-0.001115,59.462525
4992,2024-04-11 00:00,1.07411,1.07564,1.06992,1.07260,235847,2024-04-11,Thursday,April,2,2024,1.06385,0,1.081503,-0.001804,-0.001253,58.392597

In [109]:
df['Day'].value_counts()

Monday       833
Tuesday      833
Wednesday    833
Thursday     833
Sunday       831
Friday       830
Name: Day, dtype: int64

In [110]:
# drop all lines where the day is Sunday
df = df[df['Day'] != 'Sunday'].reset_index(drop=True)

In [111]:
# label encoding for Day, Month
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Day_enc'] = le.fit_transform(df['Day'])
df['Month_enc'] = le.fit_transform(df['Month'])

In [112]:
df['Day_enc'].unique()

array([1, 3, 4, 2, 0])

In [113]:
df['Month_enc'].unique()

array([ 0,  8,  6,  5,  1, 11, 10,  9,  2,  4,  3,  7])

In [114]:
df

,Time,Open,High,Low,Close,Volume,Date,Day,Month,Quarter,Year,Tomorrow,Target,Moving Average,MACD,Signal Line,RSI,Day_enc,Month_enc
0,2008-04-28 00:00,1.56168,1.56924,1.55904,1.56540,866601,2008-04-28,Monday,April,2,2008,1.55752,0,1.578124,-0.001499,0.001199,57.476884,1,0
1,2008-04-29 00:00,1.56534,1.56587,1.55384,1.55752,868216,2008-04-29,Tuesday,April,2,2008,1.56241,1,1.577350,-0.002775,0.000405,58.280824,3,0
2,2008-04-30 00:00,1.55772,1.56415,1.55161,1.56241,866004,2008-04-30,Wednesday,April,2,2008,1.54764,0,1.576941,-0.003353,-0.000347,54.590675,4,0
3,2008-05-01 00:00,1.56238,1.56425,1.54273,1.54764,862988,2008-05-01,Thursday,May,2,2008,1.54218,0,1.575851,-0.004946,-0.001267,50.478075,2,8
4,2008-05-02 00:00,1.54765,1.54978,1.53599,1.54218,832288,2008-05-02,Friday,May,2,2008,1.54345,1,1.573879,-0.006574,-0.002328,45.007007,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4157,2024-04-05 00:00,1.08363,1.08479,1.07913,1.08352,229600,2024-04-05,Friday,April,2,2024,1.08297,0,1.083355,-0.001412,-0.001421,50.574473,0,0
4158,2024-04-08 00:00,1.08297,1.08634,1.08208,1.08620,173627,2024-04-08,Monday,April,2,2024,1.08588,0,1.082966,-0.000790,-0.001262,66.646689,1,0
4159,2024-04-09 00:00,1.08620,1.08850,1.08477,1.08588,165777,2024-04-09,Tuesday,April,2,2024,1.07410,0,1.082842,-0.000474,-0.001104,72.320263,3,0
4160,2024-04-10 00:00,1.08587,1.08665,1.07288,1.07410,264829,2024-04-10,Wednesday,April,2,2024,1.07260,0,1.082181,-0.001160,-0.001115,59.462525,4,0
4161,2024-04-11 00:00,1.07411,1.07564,1.06992,1.07260,235847,2024-04-11,Thursday,April,2,2024,1.06385,0,1.081503,-0.001804,-0.001253,58.392597,2,0

In [115]:
from sklearn.ensemble import RandomForestClassifier

model = model = RandomForestClassifier(
    n_estimators=100, min_samples_split=100, random_state=1)
train = df.iloc[:-100]
test = df.iloc[-100:]

predictors = ['Open', 'High', 'Low', 'Close', 'Volume', 'Moving Average',
              'MACD', 'Signal Line', 'RSI', 'Day_enc', 'Month_enc', 'Year', 'Quarter']
target = 'Target'

model.fit(train[predictors], train[target])

RandomForestClassifier(min_samples_split=100, random_state=1)

In [116]:
from sklearn.metrics import precision_score, classification_report, confusion_matrix
preds = model.predict(test[predictors])
preds = pd.Series(preds, index=test.index)

In [117]:
from sklearn.metrics import classification_report, confusion_matrix


precision = precision_score(test["Target"], preds)
classification_report = classification_report(test["Target"], preds)
confusion_matrix = confusion_matrix(test["Target"], preds)

print('Precision:', precision)
print('Classification Report:\n', classification_report)
print('Confusion Matrix:\n', confusion_matrix)

Precision: 0.5217391304347826
Classification Report:
               precision    recall  f1-score   support

           0       0.52      0.33      0.40        49
           1       0.52      0.71      0.60        51

    accuracy                           0.52       100
   macro avg       0.52      0.52      0.50       100
weighted avg       0.52      0.52      0.50       100

Confusion Matrix:
 [[16 33]
 [15 36]]

In [118]:
horizons = [2, 5, 60, 250, 1000]
new_predictors = []
for horizon in horizons:
    rolling_average = df.rolling(horizon).mean()
    ratio_column = f"Close_Ratio_{horizon}"
    df[ratio_column] = df["Close"] / rolling_average["Close"]
    trend_column = f"Trend_{horizon}"
    df[trend_column] = df.shift(1).rolling(horizon).sum()["Target"]
    new_predictors += [ratio_column, trend_column]

C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:4: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  rolling_average = df.rolling(horizon).mean()
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:8: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  df[trend_column] = df.shift(1).rolling(horizon).sum()["Target"]
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:4: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  rolling_average = df.rolling(horizon).mean()
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:8: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  df[trend_column] = df.shift(1).rolling(horizon).sum()["Target"]
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:4: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  rolling_average = df.rolling(horizon).mean()
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:8: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  df[trend_column] = df.shift(1).rolling(horizon).sum()["Target"]
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:4: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  rolling_average = df.rolling(horizon).mean()
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:8: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  df[trend_column] = df.shift(1).rolling(horizon).sum()["Target"]
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:4: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  rolling_average = df.rolling(horizon).mean()
C:\Users\b_att\AppData\Local\Temp\ipykernel_12408\2665395649.py:8: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Day', 'Month', 'Time'], dtype='object')
  df[trend_column] = df.shift(1).rolling(horizon).sum()["Target"]

In [119]:
missing_values_pourcentage = df.isnull().sum() / len(df)

In [120]:
missing_values_pourcentage

Time                0.000000
Open                0.000000
High                0.000000
Low                 0.000000
Close               0.000000
Volume              0.000000
Date                0.000000
Day                 0.000000
Month               0.000000
Quarter             0.000000
Year                0.000000
Tomorrow            0.000000
Target              0.000000
Moving Average      0.000000
MACD                0.000000
Signal Line         0.000000
RSI                 0.000000
Day_enc             0.000000
Month_enc           0.000000
Close_Ratio_2       0.000240
Trend_2             0.000481
Close_Ratio_5       0.000961
Trend_5             0.001201
Close_Ratio_60      0.014176
Trend_60            0.014416
Close_Ratio_250     0.059827
Trend_250           0.060067
Close_Ratio_1000    0.240029
Trend_1000          0.240269
dtype: float64

In [121]:
df = df.dropna().reset_index(drop=True)
df

,Time,Open,High,Low,Close,Volume,Date,Day,Month,Quarter,...,Close_Ratio_2,Trend_2,Close_Ratio_5,Trend_5,Close_Ratio_60,Trend_60,Close_Ratio_250,Trend_250,Close_Ratio_1000,Trend_1000
0,2012-02-27 00:00,1.34669,1.34676,1.33658,1.34073,255056,2012-02-27,Monday,February,1,...,0.998555,2.0,1.004586,5.0,1.025975,30.0,0.968127,128.0,0.970143,512.0
1,2012-02-28 00:00,1.34073,1.34795,1.33901,1.34781,259541,2012-02-28,Tuesday,February,1,...,1.002633,2.0,1.006423,5.0,1.031303,30.0,0.973382,129.0,0.975414,513.0
2,2012-02-29 00:00,1.34785,1.34853,1.33147,1.33238,271143,2012-02-29,Wednesday,February,1,...,0.994243,1.0,0.993880,4.0,1.019594,30.0,0.962395,129.0,0.964408,512.0
3,2012-03-01 00:00,1.33241,1.33556,1.32820,1.33263,244492,2012-03-01,Thursday,March,1,...,1.000094,1.0,0.994773,4.0,1.019810,31.0,0.962771,129.0,0.964739,513.0
4,2012-03-02 00:00,1.33263,1.33326,1.31864,1.32003,215668,2012-03-02,Friday,March,1,...,0.995250,1.0,0.988997,3.0,1.010406,30.0,0.953938,128.0,0.955771,513.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157,2024-04-05 00:00,1.08363,1.08479,1.07913,1.08352,229600,2024-04-05,Friday,April,2,...,0.999945,0.0,1.002986,3.0,0.999803,32.0,0.999446,125.0,0.971967,511.0
3158,2024-04-08 00:00,1.08297,1.08634,1.08208,1.08620,173627,2024-04-08,Monday,April,2,...,1.001235,0.0,1.003149,2.0,1.002404,32.0,1.001990,124.0,0.974408,511.0
3159,2024-04-09 00:00,1.08620,1.08850,1.08477,1.08588,165777,2024-04-09,Tuesday,April,2,...,0.999853,0.0,1.001173,1.0,1.002138,32.0,1.001739,124.0,0.974160,510.0
3160,2024-04-10 00:00,1.08587,1.08665,1.07288,1.07410,264829,2024-04-10,Wednesday,April,2,...,0.994546,0.0,0.992086,0.0,0.991488,31.0,0.990983,123.0,0.963643,509.0
3161,2024-04-11 00:00,1.07411,1.07564,1.06992,1.07260,235847,2024-04-11,Thursday,April,2,...,0.999301,0.0,0.992725,0.0,0.990338,31.0,0.989711,123.0,0.962353,508.0

In [122]:
df.shape

(3162, 29)

In [123]:
model = RandomForestClassifier(
    n_estimators=100, min_samples_split=100, random_state=1)


train = df.iloc[:-100]


test = df.iloc[-100:]


predictors += new_predictors


model.fit(train[predictors], train[target])

RandomForestClassifier(min_samples_split=100, random_state=1)

In [124]:
train

,Time,Open,High,Low,Close,Volume,Date,Day,Month,Quarter,...,Close_Ratio_2,Trend_2,Close_Ratio_5,Trend_5,Close_Ratio_60,Trend_60,Close_Ratio_250,Trend_250,Close_Ratio_1000,Trend_1000
0,2012-02-27 00:00,1.34669,1.34676,1.33658,1.34073,255056,2012-02-27,Monday,February,1,...,0.998555,2.0,1.004586,5.0,1.025975,30.0,0.968127,128.0,0.970143,512.0
1,2012-02-28 00:00,1.34073,1.34795,1.33901,1.34781,259541,2012-02-28,Tuesday,February,1,...,1.002633,2.0,1.006423,5.0,1.031303,30.0,0.973382,129.0,0.975414,513.0
2,2012-02-29 00:00,1.34785,1.34853,1.33147,1.33238,271143,2012-02-29,Wednesday,February,1,...,0.994243,1.0,0.993880,4.0,1.019594,30.0,0.962395,129.0,0.964408,512.0
3,2012-03-01 00:00,1.33241,1.33556,1.32820,1.33263,244492,2012-03-01,Thursday,March,1,...,1.000094,1.0,0.994773,4.0,1.019810,31.0,0.962771,129.0,0.964739,513.0
4,2012-03-02 00:00,1.33263,1.33326,1.31864,1.32003,215668,2012-03-02,Friday,March,1,...,0.995250,1.0,0.988997,3.0,1.010406,30.0,0.953938,128.0,0.955771,513.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3057,2023-11-17 00:00,1.08530,1.09148,1.08247,1.09138,256587,2023-11-17,Friday,November,4,...,1.002798,1.0,1.006814,3.0,1.023885,32.0,1.011811,129.0,0.978259,513.0
3058,2023-11-20 00:00,1.09054,1.09517,1.08974,1.09446,229163,2023-11-20,Monday,November,4,...,1.001409,1.0,1.005141,2.0,1.026583,31.0,1.014498,128.0,0.981033,513.0
3059,2023-11-21 00:00,1.09447,1.09651,1.09001,1.09169,266625,2023-11-21,Tuesday,November,4,...,0.998733,0.0,1.001876,1.0,1.023908,30.0,1.011761,128.0,0.978565,512.0
3060,2023-11-22 00:00,1.09170,1.09229,1.08522,1.08878,290491,2023-11-22,Wednesday,November,4,...,0.998665,0.0,0.998588,1.0,1.021245,29.0,1.008924,127.0,0.975974,512.0
3061,2023-11-23 00:00,1.08880,1.09303,1.08870,1.09038,158996,2023-11-23,Thursday,November,4,...,1.000734,1.0,0.999122,2.0,1.022648,30.0,1.010276,127.0,0.977425,512.0

In [125]:
# write train and test data to csv
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)

In [126]:
preds = model.predict(test[predictors])
preds = pd.Series(preds, index=test.index)

In [127]:
preds.value_counts() / len(preds)

1    0.81
0    0.19
dtype: float64

In [128]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score


precision = precision_score(test["Target"], preds)
classification_report = classification_report(test["Target"], preds)
confusion_matrix = confusion_matrix(test["Target"], preds)
accuracy = accuracy_score(test["Target"], preds)

print('Accuracy:', accuracy)
print('Precision:', precision)
print('Classification Report:\n', classification_report)
print('Confusion Matrix:\n', confusion_matrix)

Accuracy: 0.58
Precision: 0.5555555555555556
Classification Report:
               precision    recall  f1-score   support

           0       0.68      0.27      0.38        49
           1       0.56      0.88      0.68        51

    accuracy                           0.58       100
   macro avg       0.62      0.57      0.53       100
weighted avg       0.62      0.58      0.54       100

Confusion Matrix:
 [[13 36]
 [ 6 45]]

In [129]:
df.columns.value_counts()

Time                1
Signal Line         1
Close_Ratio_1000    1
Trend_250           1
Close_Ratio_250     1
Trend_60            1
Close_Ratio_60      1
Trend_5             1
Close_Ratio_5       1
Trend_2             1
Close_Ratio_2       1
Month_enc           1
Day_enc             1
RSI                 1
MACD                1
Open                1
Moving Average      1
Target              1
Tomorrow            1
Year                1
Quarter             1
Month               1
Day                 1
Date                1
Volume              1
Close               1
Low                 1
High                1
Trend_1000          1
dtype: int64

In [130]:
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier, XGBRFClassifier

In [131]:
model_name = []
precision = []
models = [
    RandomForestClassifier(
        n_estimators=100, min_samples_split=100, random_state=1),
    GradientBoostingClassifier(
        n_estimators=100, min_samples_split=100, random_state=1),
    RandomForestClassifier(n_estimators=200, min_samples_split=5,
                           min_samples_leaf=2, max_depth=20, bootstrap=True, random_state=1),
    ExtraTreesClassifier(
        n_estimators=100, min_samples_split=100, random_state=1),
    AdaBoostClassifier(n_estimators=100, random_state=1),
    DecisionTreeClassifier(random_state=1),
    XGBClassifier(objective='binary:logistic', random_state=1),
    XGBRFClassifier(kwds={'objective': 'binary:logistic'}, random_state=1),
]

for model in models:
    model.fit(train[predictors], train[target])
    preds = model.predict(test[predictors])
    precisionScore = precision_score(test["Target"], preds)
    model_name.append(model)
    precision.append(precisionScore)

c:\Users\b_att\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\core.py:160: UserWarning: [18:48:04] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "kwds" } are not used.

  warnings.warn(smsg, UserWarning)

In [132]:
models_df = pd.DataFrame(
    {"Model Name": model_name, "Precision": precision, "Accuracy": accuracy})
models_df = models_df.astype(
    {"Model Name": str, "Precision": float, "Accuracy": float})
models_df = models_df.sort_values(by="Precision", ascending=False)

best_model = models_df.iloc[0]
best_model_name = best_model["Model Name"]
print(f"Best Model is {best_model_name} with Precision of {best_model['Precision']}")

Best Model is GradientBoostingClassifier(min_samples_split=100, random_state=1) with Precision of 0.5964912280701754

In [133]:
models_df

                                          Model Name  Precision  Accuracy
1  GradientBoostingClassifier(min_samples_split=1...   0.596491      0.58
2  RandomForestClassifier(max_depth=20, min_sampl...   0.578125      0.58
3  ExtraTreesClassifier(min_samples_split=100, ra...   0.578125      0.58
4  AdaBoostClassifier(n_estimators=100, random_st...   0.564103      0.58
7  XGBRFClassifier(base_score=None, booster=None,...   0.559524      0.58
6  XGBClassifier(base_score=None, booster=None, c...   0.557692      0.58
0  RandomForestClassifier(min_samples_split=100, ...   0.555556      0.58
5             DecisionTreeClassifier(random_state=1)   0.428571      0.58

# XGBClassifier

In [134]:
model = XGBClassifier(objective='binary:logistic', random_state=1)
model.fit(train[predictors], train[target])

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=1, ...)

In [135]:
test.dtypes

Time                        object
Open                       float64
High                       float64
Low                        float64
Close                      float64
Volume                       int64
Date                datetime64[ns]
Day                         object
Month                       object
Quarter                      int64
Year                         int64
Tomorrow                   float64
Target                       int32
Moving Average             float64
MACD                       float64
Signal Line                float64
RSI                        float64
Day_enc                      int32
Month_enc                    int32
Close_Ratio_2              float64
Trend_2                    float64
Close_Ratio_5              float64
Trend_5                    float64
Close_Ratio_60             float64
Trend_60                   float64
Close_Ratio_250            float64
Trend_250                  float64
Close_Ratio_1000           float64
Trend_1000                 float64
dtype: object

In [140]:
# preds = model.predict(test[predictors])
# preds = pd.Series(preds, index=test.index)


def predict(model, predictors, test: pd.DataFrame) -> pd.Series:
    preds = model.predict(test[predictors])
    preds = pd.Series(preds, index=test.index)
    return preds


preds = predict(model, predictors, test)


# predict the next day price movement based on the model prediction
today = test.iloc[-5][predictors]
print(today)

Open                  1.08363
High                  1.08479
Low                   1.07913
Close                 1.08352
Volume                 229600
Moving Average       1.083355
MACD                -0.001412
Signal Line         -0.001421
RSI                 50.574473
Day_enc                     0
Month_enc                   0
Year                     2024
Quarter                     2
Close_Ratio_2        0.999945
Trend_2                   0.0
Close_Ratio_5        1.002986
Trend_5                   3.0
Close_Ratio_60       0.999803
Trend_60                 32.0
Close_Ratio_250      0.999446
Trend_250               125.0
Close_Ratio_1000     0.971967
Trend_1000              511.0
Name: 3157, dtype: object

In [137]:
today_Df = pd.DataFrame(today).T
for col in today_Df.columns:
    today_Df[col] = pd.to_numeric(today_Df[col], errors='coerce')

tommorow = predict(model, predictors, today_Df)
print(tommorow)

3157    1
dtype: int32

In [138]:
preds

3062    1
3063    0
3064    1
3065    0
3066    0
       ..
3157    1
3158    1
3159    1
3160    0
3161    1
Length: 100, dtype: int32

In [139]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

def evaluation(test, preds):
    precision = precision_score(test["Target"], preds)
    classification = classification_report(test["Target"], preds)
    confusion = confusion_matrix(test["Target"], preds)
    accuracy = accuracy_score(test["Target"], preds)

    print('Accuracy:', accuracy)
    print('Precision:', precision)
    print('Classification Report:\n', classification)
    print('Confusion Matrix:\n', confusion)


evaluation(test, preds)

Accuracy: 0.55
Precision: 0.5576923076923077
Classification Report:
               precision    recall  f1-score   support

           0       0.54      0.53      0.54        49
           1       0.56      0.57      0.56        51

    accuracy                           0.55       100
   macro avg       0.55      0.55      0.55       100
weighted avg       0.55      0.55      0.55       100

Confusion Matrix:
 [[26 23]
 [22 29]]